### Defualt config 
blocks-dir = "blocks"
chain-state-db-size-mb = 2048
reversible-blocks-db-size-mb = 340
contracts-console = false
access-control-allow-credentials = false
access-control-allow-origin = *
sync-fetch-span = 100
max-implicit-request = 1500
#wasm-runtime=wavm

# actor-whitelist =
# actor-blacklist =
# contract-whitelist =
# contract-blacklist =
# filter-on =
# https-client-root-cert =
# Black List
key-blacklist = EOS6sdXDTmX63aNyrPFd8EXX6hgbEipUXcBLkgQYyRfoYjmtCuNZV
key-blacklist = EOS5xfuKArzWVHLimx1nwNe5XX4EKTqeSkiUsnk8FNbpj6qLJLtCX
key-blacklist = EOS6NarBTNojSCR6UDM2qJ4VYVwYYDYHv1AfzoG84gxXsW7iERHHE
key-blacklist = EOS5M4RAKUyj52kT3UZQgjLV9u7Y6NoJHWRFy6fNGH4tFDGPn9n8z
key-blacklist = EOS7VbK36fjs4dNJGrjkaUTErvJaKLMTnYUSsmepxanoT913oYJ4n
actor-blacklist = blacklistmee
actor-blacklist = ge2dmmrqgene
actor-blacklist = gu2timbsguge
actor-blacklist = ge4tsmzvgege
actor-blacklist = gezdonzygage
actor-blacklist = ha4tkobrgqge
actor-blacklist = ha4tamjtguge
actor-blacklist = gq4dkmzzhege


https-client-validate-peers = 1
http-server-address = 0.0.0.0:8888
p2p-listen-endpoint = 0.0.0.0:9876
p2p-server-address = 0.0.0.0:9876
p2p-max-nodes-per-host = 3
#__BOOT_PEER__
#__P2P_PEER_LIST__
p2p-peer-address = api-full1.eoseoul.io:9876
p2p-peer-address = pub0.eosys.io:6637
p2p-peer-address = p2p-public.hkeos.com:19875
p2p-peer-address = bp.cryptolions.io:9876
p2p-peer-address = p.jeda.one:3322
p2p-peer-address = node1.eosnewyork.io:6987
p2p-peer-address = node1.eoscannon.io:59876
p2p-peer-address = p2p.one.eosdublin.io:9876
p2p-peer-address = peering.mainnet.eoscanada.com:9876
p2p-peer-address = seed1.greymass.com:9876
p2p-peer-address = bp.eosbeijing.one:8080
p2p-peer-address = mars.fnp2p.eosbixin.com:443

# peer-key =
# peer-private-key =

agent-name = "__BPNAME__"
allowed-connection = any
max-clients = 120
connection-cleanup-period = 30
network-version-match = 1

enable-stale-production = false
pause-on-startup = false
max-transaction-time = 30
max-irreversible-block-age = -1

# Enable block production with the testnet producers
producer-name = __BPNAME__
signature-provider = __PUBKEY__=KEY:__PRIVKEY__
private-key = ["__PUBKEY__","__PRIVKEY__"]

# Wallet config
keosd-provider-timeout = 5
txn-reference-block-lag = 0
wallet-dir = "."
unlock-timeout = 900

# BNET Config
#__BNET_PLUGIN__

# eosio-key =
# plugin =
plugin = eosio::chain_api_plugin
plugin = eosio::history_api_plugin
plugin = eosio::http_plugin
